@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-next {
  background: #ebebeb !important;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.swiper-button-prev{
  background: #ebebeb !important;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  margin-left: 20px !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: white !important;
}
.swiper-navigation-icon{
 color: #333!important;
  width: 10px !important;
  height: auto !important;
  stroke: 32px !important;
}
